/* mobile */
@media screen and (max-width: 425px) {
    .title-text::after {
        content: "TIL";
        animation: reduceTitle 1s linear 0.5s backwards;
    }
}

/* tablet */
@media screen and (max-width: 768px) {
    .navbar-item.github-link {
        display: none;
    }
}

/* bigger than tablet */
@media screen and (min-width: 769px) {
    .navbar-item.menu-btn {
        display: none;
    }
}
