body {
    font-family: "Gowun Dodum", sans-serif;
    font-weight: 600;
}

header {
    width: 100vw;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    padding: 1.2rem 1.7rem;
    border-bottom: 1px solid #ddd;
}

.title {
    font-size: 1.5rem;
}

.title-text::after {
    content: "Today I Learned";
    animation: increaseTitle 1s linear 0.5s backwards;
}

.navbar {
    display: flex;
    align-items: center;
}

.navbar-item {
    margin-left: 20px;
}

.navbar-item svg {
    width: 0.8rem;
    color: #555;
}

.navbar-item.menu-btn {
    cursor: pointer;
}

.navbar-item .line {
    width: 20px;
    height: 2px;
    display: block;
    margin: 4px;
    background-color: #555;
    border-radius: 10px;
    transition: all 0.3s ease-in-out;
}

.navbar-item.menu-btn.active .line:nth-child(1) {
    transform: translateY(6px) rotate(45deg);
}

.navbar-item.menu-btn.active .line:nth-child(2) {
    opacity: 0;
}

.navbar-item.menu-btn.active .line:nth-child(3) {
    transform: translateY(-6px) rotate(-45deg);
}

main {
    /* header test | scroll */
    height: 200vh;

    display: grid;
    grid-template-columns: 300px 1fr;
}

/* scrollbar */
::-webkit-scrollbar {
    width: 9px;
    opacity: 1;
}

::-webkit-scrollbar-thumb {
    background-color: #bfbfbf;
    background-clip: padding-box;
    border: 3px solid transparent;
}

@media screen and (max-width: 425px) {
    .title-text::after {
        content: "TIL";
        animation: reduceTitle 1s linear 0.5s backwards;
    }
}

@media screen and (max-width: 768px) {
    .navbar-item.github-link {
        display: none;
    }
}

@media screen and (min-width: 768px) {
    .navbar-item.menu-btn {
        display: none;
    }
}

@keyframes reduceTitle {
    0% {
        content: "Today I Learned";
    }
    50% {
        color: white;
    }
    100% {
        content: "TIL";
    }
}

@keyframes increaseTitle {
    0% {
        content: "TIL";
    }
    50% {
        color: white;
    }
    100% {
        content: "Today I Learned";
    }
}
