body {
    font-family: "Gowun Dodum", sans-serif;
    font-weight: 600;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 1.5rem;
    border-bottom: 1px solid #ddd;
}

.title {
    font-size: 1.5rem;
}

.navbar-link i {
    font-size: 0.8rem;
}

.navbar-link img {
    width: 0.8rem;
}

.sidebar {
    padding: 1.5rem;
}
